# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
*.db
*.sqlite3

# Environment variables
.env

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
